<div class="one-ups">
    <% _.each(portfolio, function(pi, name){ %>
        <section class="one-up" data-for="<%= name %>" data-active="1">
            <div class="gallery">
                <% _.each(pi, function(pips, pin){ %>
                    <article class="oeuvre">
                        <figure>
                            <% if(pips.asset.type === 'image'){ %>
                                <img data-name="<%= pips.asset.name %>" src="images/<%= pips.asset.name %>"/>
                            <% }else if(pips.asset.type === 'video'){ %>
                                <video data-name="<%= pips.asset.name %>"
                                    loop muted autoplay preload="auto"
                                    poster="images/<%= pips.asset.name %>.png"
                                >
                                    <source src="images/<%= pips.asset.name %>.mp4" type="video/mp4"/>
                                    <source src="images/<%= pips.asset.name %>.ogv" type="video/ogg"/>
                                    <source src="images/<%= pips.asset.name %>.webm" type="video/webm"/>
                                </video>
                            <% } %>
                        </figure>
                        <div class="copy">
                            <h6 class="crumbs"><%= name %></h6>
                            <h2 class="title"><%= pin %></h2>
                            <p class="description"><%= pips.description %></p>
                            <ul class="roles">
                                <% if(_.isString(pips.role)){ %>
                                    <li data-role="<%= pips.role %>"><%= pips.role %></li>
                                <% }else if(_.isArray(pips.role)){ %>
                                    <% _.each(pips.role, function(r){ %>
                                        <li data-role="<%= r %>"><%= r %></li>
                                    <% }); %>
                                <% } %>
                            </ul>
                        </div>
                    </article>
                <% }); %>
            </div>
            <nav class="project">
                <button class="up"></button>
                <ul>
                    <% _.each(pi, function(pips, pin){ %>
                        <li data-oeuvre="<%= pin %>">
                            <a href="#portfolio/<%= name %>/<%= pin %>" style="background-image: url('images/<%= pips.asset.name + (pips.asset.type === 'image' ? '' : '.png') %>');"></a>
                        </li>
                    <% }); %>
                </ul>
                <button class="next"></button>
            </nav>
        </section>
    <% }); %>
</div>