<div class="about-page">
  <aside class="identity">
    <i class="face"></i>
    <h1 class="name"><img src="images/name-small.svg"/></h1>
    <div class="logopad">
      <% _.each(links, function(row){ %>
        <div class="logopad-row">
          <% _.each(row, function(link){ %>
              <a data-link="<%= link.link %>" target="_blank" href="<%= link.href %>" title="<%= link.alt %>" <% if(link.hasOwnProperty('onclick')){ %>onclick="<%= link.onclick %>"<% } %>></a>
          <% }); %>
        </div>
      <% }); %>
    </div>
  </aside>

  <article class="about">

    <section class="intro">
      <h2>Hello there!</h2>
      <blockquote>
        <p>At every stage in life, I’ve been fascinated by both creative and technical thinking. I’m not wont to get in a rut since I’m so eager to continue reaching across the boundaries between domains of human knowledge. That curiosity is the foundation of my autodidactic nature.</p>
        <p>I spend much of my time doing different kinds of interdisciplinary technical work, such as making apps that are easier to use, and designing software and devices that use the Internet in small, unconventional ways.</p>
      </blockquote>
    </section>

    <section class="stats">
      <h2>Summary</h2>
      <ul>
        <% _.each(stats, function(stat){ %>
          <li data-name="<%= stat.name %>">
            <span class="name"><%= stat.name %></span>
            <span class="value">
              <% if(!_.isFunction(stat.value)){ %><%= stat.value %><% }else{ %>
                <i class="loading"></i>
              <% } %>
            </span>
          </li>
        <% }); %>
      </ul>
    </section>

    <section class="résumé">
      <h2>Education</h2>
      <ol>
        <li>
          <h3>McGill University, Bachelor of Arts &amp;&nbsp;Science</h3>
          <h3>Honours Cognitive&nbsp;Science</h3>
          <span class="duration">September 2007 to December 2010</span>
        </li>
      </ol>
    </section>

    <section class="résumé">
      <h2>Work</h2>
      <ol>
        <% _.each(résumé, function(job){ %>
          <li>
            <h3><%= job.role %>, <%= job.group %></h3>
            <span class="duration"><%= job.start %> to <%= job.end %></span>
            <ul>
              <% _.each(job.notes, function(note){ %>
                <li><%= note %></li>
              <% }); %>
            </ul>
          </li>
        <% }); %>
      </ol>
    </section>


    <section class="credits">

      <p>The repository for this website is <a href="https://github.com/thure/willshown.com" target="_blank">hosted on Github</a>.</p>

      <% var adjectives = ['stupendous', 'incredible', 'amazing', 'marvelous', 'exceptional']; %>
      <p>Portrait created by the <%= adjectives[Math.floor(Math.random() * adjectives.length)] %> <a href="http://www.eiffelart.ca/" target="_blank">Matt Cummings</a>.</p>

      <p><a href="http://www.google.com/fonts/specimen/Dosis" target="_blank">Dosis</a> is the display font, and <a href="http://www.google.com/fonts/specimen/Lato" target="_blank">Lato</a> is the text font. Icons were assembled with <a href="http://fontello.com" target="_blank">Fontello</a> from <a href="http://www.entypo.com" target="_blank">Entypo</a>, <a href="http://aristeides.com" target="_blank">Elusive</a>, <a href="http://mfglabs.github.io/mfglabs-iconset/" target="_blank">MFG Labs</a>, and <a href="http://fortawesome.github.com/Font-Awesome" target="_blank">Font Awesome</a>.</p>

    </section>

  </article>
</div>