<div class="about-page">
  <aside class="identity">
    <i class="face"></i>
    <h1 class="name">Will Shown</h1>
    <ul class="logopad">
      <% _.each(links, function(link){ %>
        <li<% if(link.big){%> class="big"<%}%> data-link="<%= link.link %>">
          <a target="_blank" href="<%= link.href %>" title="<%= link.alt %>" <% if(link.hasOwnProperty('onclick')){ %>onclick="<%= link.onclick %>"<% } %>></a>
        </li>
      <% }); %>
    </ul>
  </aside>

  <article class="about">

    <section class="intro">
      <p>Hello, and welcome my personal site! Here’s the autobiographical blurb you’ve probably seen on the other profiles:</p>
      <blockquote>
        <p>At every stage in life, I’ve been fascinated by both creative and technical thinking. I’m not wont to get in a rut since I’m so eager to continue reaching across the boundaries between domains of human knowledge. That curiosity is the foundation of my autodidactic nature.</p>
        <p>I spend much of my time doing different kinds of interdisciplinary technical work, such as making apps that are easier to use, and designing software and devices that use the Internet in small, unconventional ways.</p>
      </blockquote>
    </section>

    <section class="stats">
      <h2>Stats</h2>
      <ul>
        <% _.each(stats, function(stat){ %>
          <li data-name="<%= stat.name %>">
            <span class="name"><%= stat.name %></span>
            <span class="value">
              <% if(!_.isFunction(stat.value)){ %><%= stat.value %><% }else{ %>
                <i class="loading"></i>
              <% } %>
            </span>
          </li>
        <% }); %>
      </ul>
    </section>

    <section class="resume">
      <h2>Résumé</h2>
    </section>

  </article>
</div>